/*
#073758 azul oscuro
#1a71cd celeste
#f5f5f5 plomo
#ffffff blanco
#df1e21 rojo
*/


body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

#info {
  background-color: #073758;
  color:#ffffff;
  font-size: 10px;
  font-weight: bold;
}

#searcher{
  background-color:#1a71cd
}

#itemList{
  background-color:#f5f5f5
}

#itemList .card{
  width: 200px;
  background-color: #ffffff;
}

#itemList .card-title .description{
  font-size: 15 px;
}

footer{
  background-color: #ffffff;
  color:#1a71cd;
  font-size: 5px;
  font-weight: bold;  
}


